In [28]:
import numpy as np
import pandas as pd

df = pd.read_csv("insurance.csv")
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [29]:
inputs = df.drop("charges",axis='columns')

In [30]:
target= df['charges']

In [31]:
df.drop(['age', 'bmi','region'], axis=1, inplace=True)

In [32]:
df.head(5)

      sex  children smoker      charges
0  female         0    yes  16884.92400
1    male         1     no   1725.55230
2    male         3     no   4449.46200
3    male         0     no  21984.47061
4    male         0     no   3866.85520

In [43]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
sex_le = LabelEncoder()
smoker_le = LabelEncoder()
children_le = LabelEncoder()

In [44]:
#Encoding
inputs['sex_n'] = sex_le.fit_transform(inputs['sex'])
inputs['smoker_n'] = smoker_le.fit_transform(inputs['smoker'])
inputs['children_n'] = children_le.fit_transform(inputs['children'])

In [45]:
inputs_n = inputs.drop(['age', 'sex', 'bmi','children', 'smoker', 'region'] ,axis='columns')
inputs_n

      sex_n  smoker_n  children_n
0         0         1           0
1         1         0           1
2         1         0           3
3         1         0           0
4         1         0           0
...     ...       ...         ...
1333      1         0           3
1334      0         0           0
1335      0         0           0
1336      0         0           0
1337      0         1           0

[1338 rows x 3 columns]

In [46]:
target

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [47]:
from sklearn import linear_model
reg = linear_model.LinearRegression()

In [52]:
reg.score(inputs_n,target)

0.6236176405240825